    <!--Footer-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center col-xs-12">
            <p>Copyright &copy; 2017 All Rights Reserved <span>PizzaMania<span></p>
          </div>
        </div>
      </div>
      <a href="#about" id="back-to-top" class="btn btn-sm btn-yellow btn-back-to-top smooth-scroll " title="home" role="button">
        <i class="fa fa-angle-up"></i>
      </a>
    </footer>

    <!-- jquery library file-->
    <script src="/js/jquery.js"></script>
    <!-- bootstrap javascript file-->
    <script src="/js/bootstrap/bootstrap.js"></script>

    <script src="/js/bootstrap/util.js"></script>

    <!-- OwlCarousel javascript source file-->
    <script type="text/javascript" src="/js/owl-carousel/owl.carousel.min.js"></script>
    <!--Responsive Tabs-->
    <script type="text/javascript" src="/js/responsive-tabs/jquery.responsiveTabs.min.js"></script>
    <!-- javascript Isotope-->
    <script type="text/javascript" src="/js/isotope/isotope.pkgd.min.js"></script>
    <!-- javascript Magnific popup file-->
    <script type="text/javascript" src="/js/magnific/jquery.magnific-popup.min.js"></script>
    <!-- javascript source file-->
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
