<link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
<div class="navbar-header">
  <span id="mobile-nav-open-btn">&#9776;</span>
  <a class="navbar-brand smooth-scroll" href="/">
    <img src="img/logo-dark.png" alt="brand">
  </a>
</div>
<div id="login-land">
  <div class="horizontal-heading text-center">
    <h5>Here You Are</h5>
    <h2>Become Our <strong>Member</strong>!</h2>
  </div>
  <div id="login">
    <% if(error && error.length > 0){ %>
      <div class="register text-center" role="alert">
        <%= error %>
      </div>
      <% } %>
      <% if(success && success.length > 0){ %>
        <div class="register text-center" role="alert">
          <%= success %>
        </div>
        <% } %>
    <form class="" action="/register" method="POST">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="wt-bannerimages">
						<figure class="wt-bannermanimg" data-tilt>
							<img src="img/bannerimg/img-01.png" alt="img description">
							<img src="img/bannerimg/img-02.png" class="wt-bannermanimgone" alt="img description">
							<img src="img/bannerimg/img-03.png" class="wt-bannermanimgtwo" alt="img description">
						</figure>
					</div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="login-right">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Your Email: exp:asd@gmail.com">
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input type="password"  class="form-control"name="password"  placeholder="Your Password: at least 5 characters">
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input type="password" class="form-control" id="phone" placeholder="Confirm Your Password">
                </div>
              </div>
              <button id="btn-login"class="btn btn-general btn-yellow">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div id="submit-btn">
        <a class="btn btn-general btn-yellow" href="" title="Submit" role="button">Submit</a>
      </div> -->
    </form>
  </div>
</div>
<%- include ("partials/footer")%>
